@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>Swagger UI</title>
        <link href="@webJarsUtil.locate("swagger-ui.css")" rel="stylesheet" />
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="@webJarsUtil.locate("swagger-ui-bundle.js")"></script>
        <script src="@webJarsUtil.locate("swagger-ui-standalone-preset.js")"></script>
        <script>
        const ui = SwaggerUIBundle({
            url: '/swagger.json', // Path to your OpenAPI JSON
            dom_id: '#swagger-ui',
            presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset]
        });
    </script>
    </body>
</html>
